/* Basic reset for better cross-browser consistency */
body, h1, h2, h3, p, blockquote, img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set a basic background color and font style for the page */
body {
  background-color: #ffffff; /* Light grey background for a soft look */
  font-family: Arial, sans-serif; /* Simple, readable font */
  color: #2c3e50; /* Dark grey color for text for better readability */
}

/* Container for the entire page */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding for breathing room */
  font-family: 'Roboto Mono', monospace;
}

/* Header section styles */
.header {
  text-align: center; /* Center align the text */
  margin-bottom: 40px; /* Space below the header */
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48.5%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 10px;
}

.title {
  font-size: 2.5em; /* Larger font size for the main title */
  color: #fff; /* White color for the title */
  font-weight: 600;
  line-height: 50px;
}

.subtitle {
  font-size: 1.2em; /* Slightly larger font for the subtitle */
  color: #2c3e50; /* Dark grey color for the subtitle */
}

/* Hero image section styles */
.hero {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space content evenly */
  align-items: center; /* Center align items vertically */
  padding: 15px; /* Vertical padding */
  background-color: #e9e9e9; /* Soft background color */
  height: auto;
  
}

.hero-content {
  flex: 2; /* Take remaining space */
  padding-right: 40px; /* Space between image and content */
  text-align: center; /* Align content to the center */
}

.hero-image-container {
  flex: 1; /* Take remaining space */
  max-width: 50%; /* Occupy 50% of the container width */
}

.hero-image {
  width: 100%; /* Full width image */
  height: auto; /* Maintain aspect ratio */
}

.hero-title {
  font-size: 3em; /* Large font size for the main title */
  margin-bottom: 0px, auto 20px auto; /* Space below the title */
  color: #2c3e50; /* Dark color for text */
  font-family: 'Roboto Mono';
  font-weight: 900;
  line-height: 52px;
}

.hero-description {
  font-size: 1.2em; /* Medium font size for the description */
  margin-bottom: 20px; /* Space below the description */
  color: #2c3e50; /* Darker color for text */
  font-family: 'Roboto Mono';
    line-height: 26px;
}

.hero-subtitle {
  font-size: 1em; /* Regular font size for the subtitle */
  margin-bottom: 30px; /* Space below the subtitle */
  color: #2c3e50; /* Darker color for text */
  font-family: 'Roboto Mono';
  line-height: 13px;
}

.hero-title, .hero-description, .hero-subtitle, .btn {
  margin-bottom: 10px;
}

.btn {
  display: inline-block; /* Display as inline block */
  padding: 12px 24px; /* Padding around the button */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove default link underline */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.btn-primary {
  background-color: #40bfe0; /* Primary button color */
  color: #fff; /* Button text color */
  margin: 4px;
}

.btn-primary:hover {
  background-color: #219fdf; /* Darker color on hover */
}

/* Features section styles */
.features {
  margin: 0 auto 20px auto; /* Space below the features section */
  width: auto;
  position: relative;
  background-color:#fff;
}

.section-title {
  font-size: 1.2em; /* Larger font size for section titles */
  color: #2c3e50; /* Darker shade for section titles */
  text-align: center; /* Center align the text */
  margin-bottom: 0px; /* Space below the section title */
  background-color: #fff;
  margin-top: 30px;
  padding: 10px;
}

.features-list {
  display: flex; /* Flexbox for equal width items */
  justify-content: space-between; /* Space items evenly */
  flex-wrap: wrap; /* Wrap items to the next line if necessary */
  margin: 30px;
  padding: 30px;
  border: 2px solid #3fbede;
  width: 100%;
  
  
  margin: 0 auto;
}

.feature-item {
  width: 30%; /* 30% width for each feature item */
   margin-bottom: 20px;/* Space below each item */
  text-align: center; /* Center align the text */
 
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(62, 188, 219, 0.8);
  padding: 5px;

}

.feature-image {
  width: 50%; /* Full width for feature images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Rounded corners */
  margin: 10px auto 10px auto;

}

.feature-title {
  font-size: 1.5em; /* Larger font for feature titles */
  color:#2c3e50; /* Darker shade for titles */
  font-weight: 900;
  margin: 10px 0; /* Space above and below the title */
}

.feature-description {
  font-size: 1em; /* Standard font size for descriptions */
  color: #2c3e50; /* Lighter shade for descriptions */
}

/* Testimonials section styles */
.testimonials {
  margin-top: 30px ; /* Space below the testimonials section */
  position: relative; /* Position relative to contain the background image */
  color: #fff; /* White text color for better readability */
  height: 100%;
  width: auto;
  padding: 20px;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/aboutimage.png') no-repeat center center/cover;
  filter: blur(8px); /* Blur the background image */
  z-index: -1; /* Place it behind the content */
  opacity: 0.5; /* Slight transparency for the overlay effect */
}

.testimonial-slide {
  margin-top: 10px auto 0 auto;
  height: auto;
  width: 60%; /* 60% width for testimonials */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 20px; /* Padding inside the testimonial box */
  margin: 50 auto; /* Center the testimonial box */
  border-radius: 10px; /* Rounded corners */
  font-style: italic; /* Italic text for testimonials */
  text-align: center; /* Center align the text */
}

.testimonial-image {
  width: 100px; /* Fixed width for testimonial images */
  height: 100px; /* Fixed height for testimonial images */
  border-radius: 50%; /* Circular images */
  margin: 0 auto; /* Center the image */
}

/* Footer styles */
footer {
  text-align: center; /* Center align the footer text */
  font-size: 0.9em; /* Slightly smaller font for footer */
  color: #95a5a6; /* Light grey color for footer text */
  padding: 10px; /* Padding inside the footer */
}

/* About section styles */
.about-us {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-left:2px;
  padding-right: 2px;

  font-family: 'Roboto Mono', monospace;

}

.about-title {
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
  padding: 0 20px;
}

.about-subtitle {
  text-align: center;
  font-size: 18px;
  color: #2c3e50;
  margin-bottom: 40px;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-text {
  flex: 1;
  padding: 20px;
  line-height: 35px;
}

.about-image-container {
  flex: 1;
  text-align: center;
  margin: 50px;
  padding:10px;
  height:auto;
}

.about-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-section:nth-child(even) .about-image-container {
  order: -1; /* This will reverse the order for even sections */
}

/* Stats and section styles */
.stats, .statBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  padding: 50px 20px;
  text-align: center;
  background-color: #40bfe0;
}

.button {
  cursor: pointer;
  width: 332px;
  height: 36px;
  padding: 0px 8px;
  border: 1px solid #030303;
  box-sizing: border-box;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  color: #2c3e50;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  outline: none;
  margin-top: 80px;
}



/* Media Queries ++++++++******* */




/* For screens with width up to 320px */
@media only screen and (max-width: 320px) {

  .container {
  width: 90%;
  max-width: 1200px;
   margin: 0 auto;
  margin-top: 200px;
  padding: 20px; 
  font-family: 'Roboto Mono', monospace;
  
}
   .hero{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100vw;
     background-color: #fff;
    
  }
   .herotwo {
    flex-direction: column;
  }
  .hero-content, .hero-image-container {
    text-align: center;
    
    height: 100vh;
    width: 100vw;
   
  }
 
  .hero-description{
    font-size: 20px;
     
  }

   
  
  .hero a {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

.hero-subtitle{
  font-size: 14px;
  text-align: center;
  margin: 5px;
  

}
  .hero-title {
  font-size: 30px;
  
}

 .herotwo {
  
    flex-direction: column;
  }


 

.btn-primary:hover {
  background-color: #219fdf; 
}

  .btn {
    display: block;
    width: 100%;
    margin: 20px 0px;
  
  } 

  .features{
    background-color: #ffffff;
    width: 100vw;
    margin:0 auto ;
    margin-top: 350px;
  }
.features-list {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  width: 100vw;
  margin: 0 auto;
  border: none;
}

.feature-image{
  width: 80%; 
  height: auto; 
  border-radius: 50%; 
  margin: 5px auto 5px auto;
  padding:10px;
}
.feature-item {
 
   margin-bottom: 20px;
  text-align: center; 
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.feature-title{
  font-size: 1.5em; 
  color:#2c3e50; 
  font-weight: 900;
  margin: 10px 0
}
  
 
.feature-item, .aboutImageContainer, .aboutText {
    width: 100%;
    
  }
  
  
.testimonials {
    padding: 10px;
  }

  .testimonial-image {
  width: 100%; 
  height: auto; 
  border-radius: 5%;
  margin: 0 auto;
}

  /* Styles for about section */
  .about-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 5px;
   width:100%
  }
  .aboutText {
    width: 100%;
    margin-bottom: 20px;
  }
  .aboutImageContainer img {
    width: 100%;
    height: auto;
  }

  .about-text{
   
  flex: 1;
  padding: 5px;
  line-height: 35px;

  }

  .about-title{
    text-align: center;
  font-size: 46px;
  margin: 10px 0 10px 0;
  padding: 10px;
  font-family: 'Roboto mono', monospace;
  font-weight: 1000
  
  }

  .about-image{
    width: 100vw;
  height: auto;
  }

  .para {
  color: #2c3e50;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  line-height: 1.6; 
  text-align: center;
  margin-bottom: 1em; 
  letter-spacing: 0.03em; 
  white-space: normal;
  text-indent: 20px;
}

.testimonial p {
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  line-height: 1.3; /* Maintain line spacing within paragraphs */
  text-align: center;
 
  letter-spacing: 0.03em; /* Slightly increase space between letters */
  white-space: normal; /* Change 'wrap' to 'normal' to maintain CSS validity */
  text-indent: 20px;
}


p.feature-description{
  color:#2c3e50
}
  img .testimonial-image{
    width: 100%;
  }
}

/* For screens with width from 321px to 768px */
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    background-color: #fff;
  }

  .hero-content,
  .hero-image-container {
    text-align: center;
    height: auto;
    width: 100%;
  }

  .hero-description,
  .hero-subtitle,
  .hero-title {
    font-size: 16px;
    margin: 10px 0;
  }

  .hero-title {
    font-size: 24px;
  }

  .hero a {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .features {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px 0;
  }

  .features-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    border: none;
  }

  .feature-image {
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin: 10px auto;
    padding: 5px;
  }

  .feature-item {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 100%;
  }

  .feature-title {
    font-size: 1.2em;
    color: #2c3e50;
    font-weight: 900;
    margin: 10px 0;
  }

  .about-us {
    width: 100%;
    padding: 20px 0;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .aboutText {
    width: 100%;
    margin-bottom: 20px;
  }

  .aboutImageContainer img {
    width: 100%;
    height: auto;
  }

  .about-title {
    font-size: 36px;
    margin: 20px 0;
    padding: 0 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 1000;
  }

  .para,
  .testimonial p {
    color: #2c3e50;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 0.03em;
    white-space: normal;
    text-indent: 20px;
  }

  .testimonials {
    padding: 20px;
    text-align: center;
  }

  .testimonial-slide {
    padding: 10px;
    text-align: center;
  }

  .testimonial-image {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin: 10px auto;
  }

  .testimonial {
    padding: 10px;
  }

  .testimonial p {
    font-size: 16px;
    line-height: 1.4;
  }

  .btn {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .btn-primary:hover {
    background-color: #219fdf;
  }
}


/* For screens with width from 769px to 1200px */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    background-color: #fff;
    align-items: center;
  }

  .herotwo {
    flex-direction: row-reverse;
  }

  .hero-content, .hero-image-container {
    height: auto;
    width: 50%;
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-description, .hero-subtitle {
    font-size: 18px;
  }

  .hero a {
    width: auto;
    margin: 10px 5px;
    display: inline-block;
  }

  .features {
    margin-top: 300px;
    padding: 20px;
  }

  .features-list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .feature-item {
    width: 45%;
    margin-bottom: 20px;
  }

  .feature-title {
    font-size: 1.4em;
  }

  .about-section {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .aboutText {
    width: 50%;
    margin-bottom: 0;
  }

  .about-image-container img {
    width: 90%;
    height: auto;
  }

  .about-title {
    font-size: 40px;
    margin: 15px 0;
  }

  .para {
    font-size: 15px;
  }

  .testimonials {
    padding: 20px;
  }

  .testimonial-slide {
    padding: 10px;
  }

  .testimonial-image {
    width: 60%;
    margin: 0 auto;
  }

  .testimonial p {
    font-size: 16px;
  }

  .section-title {
    font-size: 36px;
  }
}


/* For screens with width above 1200px */
@media only screen and (min-width: 1201px) {
  .container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .hero {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    align-items: center;
  }

  .herotwo {
    flex-direction: row-reverse;
    margin-top: 200px;
  }

  .hero-content, .hero-image-container {
    width: 50%;
    height: auto;
    padding: 20px;
  }

  .hero-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .hero-description {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .hero-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .hero a {
    width: auto;
    margin: 20px;
  }

  .features {
    margin-top: 500px;
    padding: 40px;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .feature-item {
    width: 30%;
    margin-bottom: 40px;
    padding: 20px;
  }

  .feature-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .feature-title {
    font-size: 2em;
    margin: 20px 0;
  }

  .feature-description {
    font-size: 1.2em;
  }

  .about-us {
    padding: 40px;
  }

  .about-section {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .about-text {
    width: 50%;
    padding: 20px;
  }

  .about-image-container {
    width: 50%;
    padding: 20px;
  }

  .about-title {
    font-size: 46px;
    margin: 20px 0;
  }

  .para {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .testimonials {
    padding: 40px;
  }

  .testimonial-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .testimonial-image {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }

  .testimonial {
    font-size: 20px;
  }

  .testimonial footer {
    font-size: 18px;
    margin-top: 10px;
  }
}

