.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.logo-menu-container {
  display: flex;
  align-items: center;
}

.logo svg {
  width: 40px;
  height: 40px;
  fill: #333;
}

.menu-items {
  display: flex;
  list-style: none;
  margin-left: 10px;
}

.menu-items li {
  margin-left: 20px;
}

.menu-items li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.booking-button {
  display: flex;
}

.booking-button button {
  background-color: #40bfe0;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-button button:hover {
  background-color: #40bfe0;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.menu-items.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .menu-items {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .menu-items.open {
    display: flex;
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
    align-items: center;
  }
  .mobile-logo svg {
    width: 32px;
    height: 32px;
    fill: #333;
  }
}
